<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

  </style>
</head>
<body>
<p>vkupen broj na karakteri e {{numChar}}</p>
<p>vkupen broj na zborobi pomali od 5 karakteri e {{wordsWithLessThan5char}}</p>
<p>vkupen broj na zborovi pogolemi od 5 karakteri e {{wordsWithMoreThan5Char}}</p>
<p>vkupen broj na zborovi ednakvi na 5 karakteri e {{wordsWith5Char}}</p>
<p>vkupen broj na recenici : {{numSentences}}</p>
<p>vkupen broj na zborovi : {{numWords}}</p>
</body>
</html>